<html>
    <head>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>
    <body>
        <h1>Lista de compras</h1>

        <table class="table table-hover">
            <tr>
                <th scope="col">Produto</th>
                <th scope="col">Preço</th>
                <th scope="col">Ações</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            {% for compra in compras: %}

            <tr>
                <td>{{compra["nome"]}}</td>
                <td>R$ {{compra["preco"]}}</td>
                <td><a href='/deletar/{{compra["Id"]}}'><button type="button" class="btn btn-danger">Deletar</button>
                  <a href='/atualizar/{{compra["Id"]}}/{{compra["nome"]}}/{{compra["preco"]}}'><button type="button" class="btn btn-primary">Atualizar</button>></a></td>
                <td>
            </tr>
            {% endfor %}

        </table>
        <a href="/create" class="btn btn-primary">adicionar</a>
    </body>
</html>
